*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgb(73, 73, 73) 5%, gray 20%);
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.header h1{
    color: white;
    text-align: center;
}
.header .senaLogo{
    width: 200px;
}